:root {
    --color-primary: #F59E0B;
    --color-primary-dark: #D97706;
    --color-primary-light: #FFFBEB;

    --color-background: #ffff;

    --color-surface: #fffef8;
    --color-message-sent: #FEF3C7;
    --color-message-received: #fdf5f0;

    --color-text-primary: #0F172A;
    --color-text-secondary: #475569;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-surface);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

h1 {
    font-size: x-large;
}

li {
    list-style: none;
}

.user-data {
    display: flex;
    gap: 10px;
}

.chat-app {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    max-width: 800px;
}

.title {
    text-align: center;
    color: var(--color-primary-dark);
    font-weight: 800;
    margin: auto 0;
}

.chat-container {
    padding: 5px;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
    background: var(--color-background);
    border: 1px solid var(--color-primary);
}

.message {
    font-size: 15px;
    margin: 18px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 60%;
    color: var(--color-text-primary);
}

.recieved-message {
    background: var(--color-message-received);
    margin-right: auto;
    border-radius: 2px 12px 12px 12px;
}

.recieved-message[title]::before {
    content: attr(title);
    display: block;
    color: var(--color-primary-dark);
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: 600;
}

.send-message {
    border-radius: 12px 2px 12px 12px;
    margin-left: auto;
    background: var(--color-message-sent);
    position: relative;
}

.welcome-message {
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 10px auto;
    width: fit-content;
    color: var(--color-primary);
    background-color: var(--color-message-sent);
}

.chat-input-form {
    width: 100%;
    display: flex;
    gap: 10px;
    visibility: hidden;
}

.text-input {
    font-size: 16px;
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    outline: none;
    color: var(--color-text-primary);
    background-color: var(--color-background);
    border: 1px solid var(--color-primary-dark);
}

.text-input::placeholder {
    color: #4755696c;
}

.text-input-disabled {
    text-align: center;
    color: var(--color-text-secondary);
}

.btn {
    background: var(--color-primary);
    color: var(--color-surface);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.send-icon {
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.05s ease-in-out;
}

.btn:hover {
    filter: contrast(1.3);
}

.btn:active .send-icon {
    transform: translate(3px);
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: none;
    transform: none;
    filter: none;

    .send-icon {
        transform: none;
    }
}

@media screen and (max-width : 600px) {
    h1 {
        font-size: large;
    }

    .recieved-message[title]::before {
        font-size: 12px;
        font-weight: 600;
    }

    .text-input {
        font-size: 15px;
    }

    .message {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px 12px;
    }
}